.intro {
  text-align: left;
  font-size: 19px;
  font-family: arial;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  
}

h1.intro {
  text-align: center;
  font-family: arial;
  color: black;
}

img.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 534px;
}

h2.intro {
  text-align: center;
  font-family: arial;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}